:root{
	--back-color: #252422;
}
body{
	font-family: "Georgia", Sans-Serif;
	margin: 0;
}

h1, h2, h3, h4, h5, h6{
	font-family: "Verdana", Serif;
	font-weight: bold;
}
#hp-header{
	background-image: url("../images/tenets_01.jpg");
	background-size: cover;
	background-color: #181818;
	height: 600px;
	overflow: auto;
	position: relative;
}

.hp-title-container{
	position: absolute;
	bottom: 10%;
	right: 10%;
}

h1{
	color: #FAFAFA;
	line-height:0.2em;
	font-size: 6em;
}
#hp-sec-1{
	background-color: var(--back-color) ;
}

.iframe-container{
	width: 86%;
	padding: 100px 7%;
	padding-bottom: 200px;

}
.iframe-aspect{
	position: relative;
	width: 100%;
	padding-top: 56.25%;
}
#hp-sec-1 iframe{
	position: absolute;
	top: 0px;
	width: 100%;
	height: 100%;
}
#hp-sec-2{
	background-color: var(--back-color) ;
}
#hp-sec-2 p{
	color: #FAFAFA;
	width: 30%;
	font-size: 1.5em;
	line-height: 1.5em;
	margin-right: 20%;
}
#hp-sec-2 img{
	width: 600px;
	margin-right: 5%;
}
#hp-sec-2 .flexbox{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
