body{
	font-family: "Georgia", Serif;
	margin: 0;
}

h1, h2, h3, h4, h5, h6{
	font-family: "Verdana", Sans-Serif;
	font-weight: bold;
}

/*
home page
*/ 
#hp-header{
	background-image: url("../images/tenets_01.jpg");
	background-size: cover;
	background-color: #252422;
	height: 700px;
	overflow: auto;
	position: relative;
}

.hp-title-container{
	position: absolute;
	bottom: 10%;
	right: 10%;
}

h1{
	color: #FFFCF2;
	line-height: 1;
	font-size: 6em;
	margin: 0;
}
#hp-sec-1{
	background-color: #252422;
}

.iframe-container{
	width: 80%;
	padding: 100px 10%;
	padding-bottom: 200px;

}
.iframe-aspect{
	position: relative;
	width: 100%;
	padding-top: 56.25%;
}
#hp-sec-1 iframe{
	position: absolute;
	top: 0px;
	width: 100%;
	height: 100%;
	border: 0;
}
#hp-sec-2{
	background-color: #252422;
}
#hp-sec-2 p{
	color: #FFFCF2;
	width: 30%;
	font-size: 1.5em;
	line-height: 1.5em;
	margin-right: 20%;
}
#hp-sec-2 img{
	width: 600px;
	margin-right: 5%;
}
#hp-sec-2 .flexbox{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
h3{
	font-size: 4em;	
	margin-bottom: 20px;
	margin-top: 0px;
	color: #050505;
}
#hp-sec-3{
	background-color: #252422;
	overflow: auto;
}
#hp-sec-3 .flexbox{
	display: flex;
	width: 70%;
	margin: 150px auto;
	justify-content: space-around;
}
.more-container{
	text-align: center;
	width: 45%;
	background-color: #CCC5B9; 
}
.more-container img{
	width: 25%;
}
.more-container a{
	width: 100%;
	height: 100%;
	text-decoration: none;
}
.more-inner{
	padding-top: 70px;
}

/*
music
*/
#m-header{
	background-color: #252422;
	padding: 100px 100px;
	padding-right: 10%;
}
h2{
	color: #FFFCF2;
	font-size: 4em;
}
#m-sec-1{
	background-color: #252422;
	padding-top: 100px;
	padding-bottom: 100px;
}
.worlds-title{
	text-align: center;
}
h4{
	color: #FFFCF2;
	font-size: 3em;
}
#m-sec-1 table{
	margin: 0 auto;
	border-spacing: 1px;
}
#m-sec-1 td{
	background-color: #CCC5B9;
	padding: 20px;
	font-size: 1.5em;
	color: #050505;
}
#m-sec-1 a{
	color: #050505;
}
#m-sec-2{
	background-color: #252422;
	padding-top: 150px;
	padding-bottom: 150px;
}
#m-sec-2 .flexbox{
	display: flex;
	flex-wrap: wrap;
	width: 90%;
	margin: 0 auto;
	justify-content: space-around;
}
.others-container{
	text-align: center;
	width: 550px;
	background-color: #CCC5B9; 
	margin: 10px;
}
.others-container img{
	width: 25%;
}
.others-container a{
	width: 100%;
	height: 100%;
	text-decoration: none;
}
.others-inner{
	padding-top: 70px;
}
.others-title{
	text-align: center;
}

/*
art
*/
#a-header{
	background-color: #252422;
	padding: 100px 100px;
	padding-right: 10%;
}
#a-sec-1{
	background-color: #252422;
	padding-top: 100px;
	padding-bottom: 100px;
}
.a-sec-1-container{
	width: 70%;
	margin: 0 auto;
}
#a-sec-1 .flexbox-1{
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
}
#a-sec-1 .flexbox-2{
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
	margin-top: -80px;
}
#a-sec-1 .flexbox-1 img{
	width: 900px;
}
#a-sec-1 .flexbox-2 img{
	width: 600px;
}
#a-sec-1 .flexbox-1 p{
	font-size: 2em;
	color: #FFFCF2;
}
#a-sec-1 .flexbox-2 p{
	font-size: 2em;
	color: #FFFCF2;
}
.a-flex-text-1{
	width: 300px;

}
.a-flex-text-2{
	width: 600px;
}

#a-sec-2{
	background-color: #252422;
	padding: 100px 0;
}
.a-sec-2-container{
	width: 80%;
	margin: 0 auto;
}
#a-sec-2 a{
	text-decoration: none;
}
.a-sec-2-inner{
	position: relative;
	width: 100%;
}
.a-sec-2-inner div{
	position: absolute;
	width: 100%;
	text-align: center;
	top: 50%;
	margin-top: -3em;
}
.a-sec-2-inner img{
	width: 100%;
}


.back-button{
	width: 100px;
}
.back-container img{
	transform: rotate(180deg);
	fill: white;
}